@font-face {
  font-family: 'poppins-semibold';
  src: url('../assets/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: normal;
}

.cta-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
  }
  
  .cta-but {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  .cta-but:hover {
    background-color: #0056b3;
    transform: scale(1.1);
  }
  
  .cta-popup {
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 200%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.3s ease;
  }
  
  .cta-popup .phone-number {
    display: block;
    text-decoration: none;
    color: #007bff;
    font-size: 14px;
    font-weight: bold;
    font-family: 'poppins-semibold';
    margin: 5px 0;
    transition: color 0.3s ease;
  }
  
  .cta-popup .phone-number:hover {
    color: #0056b3;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  